<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Наш Flask проєкт{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>

<body>

	<header>
		<div class="container">
			<div class="header__wrapper">
				<button class="header__burger">
					<figure></figure>
					<figure></figure>
					<figure></figure>
				</button>

				<div class="header__title">
					<span>Devas</span>
				</div>

				<div class="header__links">
					<a href="">
						<img src="{{ url_for('static', filename='images/icon_favorite.svg') }}" alt="Logo">
						<span>Favorite</span>
					</a>
					<a href="">
						<img src="{{ url_for('static', filename='images/icon_wishlist.svg') }}" alt="Logo">
						<span>Wishlist</span>
					</a>
					<a href="/user/USERNAME">
						<img src="{{ url_for('static', filename='images/icon_account.svg') }}" alt="Logo">
						<span>Account</span>
					</a>
				</div>
			</div>
			<nav class="header__nav">
				<a href="/">Головна</a>
				<a href="#">Магазин</a>
				<a href="/about">Про нас</a>
				<a href="/contacts">Зворотній зв'язок</a>
				<a href="/user/USERNAME">Користувач</a>
			</nav>
		</div>
	</header>

	<main>
		<div class="container mx-auto mt-8 p-4">
			{% block content %}{% endblock %}
		</div>
	</main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>