{% extends "base.html" %}

{% block title %}Контакти{% endblock %}

{% block content %}
<!-- МАША ПОЧАТОК -->

<h1 class="text-3xl font-bold mb-4">Як з нами зв'язатись?</h1>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
        <img src="https://via.placeholder.com/400x300" alt="Placeholder" class="w-full rounded-lg shadow-md">
    </div>
    <div>
        <p class="text-lg">
            Наші контакти:<br>
            Робоча пошта: temporary-group@protonmail.com<br>
            Наш Telegram: @temporary_group<br>
        </p>
    </div>
</div>

<!-- МАША КІНЕЦЬ -->
{% endblock %}
