{% extends "base.html" %}

{% block title %}{{ username }}{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">Ласкаво просимо на сторінку користувача</h1>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
        <img src="https://via.placeholder.com/400x300" alt="Placeholder" class="w-full rounded-lg shadow-md">
    </div>
    <div>
        <p class="text-lg">
            Ласкаво просимо, {{ username }}! Це приклад тексту для сторінки користувача.<br>
            Тут ви можете додати інформацію про себе, свої інтереси, або будь-який інший контент, який ви хочете показати іншим користувачам. 
        </p>
    </div>
</div>
{% endblock %}