{% extends "base.html" %}

{% block title %}Зворотній зв'язок{% endblock %}

{% block content %}
<div class="container mx-auto py-12 relative">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 items-center justify-center">
        <div class="flex flex-col items-center">
            <div class="w-52 h-42">
                <img src="../static/images/photo_2023-03-26_21-25-25.jpg" alt="Archibald Photo" class="w-full h-full object-cover rounded-xl">
            </div>
            <div class="mt-4 text-center bg-gray-200 p-4 rounded-xl shadow-md">
                <p class="font-bold">Archibald</p>
                <p class="text-sm">Backend<br>Command teamlead<br>Project manager</p>
            </div>
        </div>
        <div class="flex flex-col items-center">
            <div class="w-52 h-42">
                <img src="../static/images/fackel.jpg" alt="Fackell Photo" class="w-full h-full object-cover rounded-xl">
            </div>
            <div class="mt-4 text-center bg-gray-200 p-4 rounded-xl shadow-md">
                <p class="font-bold">Fackell</p>
                <p class="text-sm">Frontend<br>( base.html, home.html )<br><i>5-6 lab report</i></p>
            </div>
        </div>
        <div class="flex flex-col items-center">
            <div class="w-52 h-42">
                <img src="../static/images/kmalyt.jpg" alt="Kmalytt Photo" class="w-full h-full object-cover rounded-xl">
            </div>
            <div class="mt-4 text-center bg-gray-200 p-4 rounded-xl shadow-md">
                <p class="font-bold">Kmalytt</p>
                <p class="text-sm">Main designer<br>Frontend ( contacts.html )</p>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 mt-8 justify-center">
        <div class="flex flex-col items-center">
            <div class="w-52 h-42">
                <img src="../static/images/dvaston2.jpg" alt="Dvastonl Photo" class="w-full h-full object-cover rounded-xl">
            </div>
            <div class="mt-4 text-center bg-gray-200 p-4 rounded-xl shadow-md">
                <p class="font-bold">Dvastonl</p>
                <p class="text-sm">Frontend ( cart, wishlist, profile, etc. )<br>Seed products</p>
            </div>
        </div>
        <div class="flex flex-col items-center">
            <div class="w-52 h-42">
                <img src="../static/images/ersonrisa.jpg" alt="Ersonrisa Photo" class="w-full h-full object-cover rounded-xl">
            </div>
            <div class="mt-4 text-center bg-gray-200 p-4 rounded-xl shadow-md">
                <p class="font-bold">Ersonrisa</p>
                <p class="text-sm">Frontend ( about )<br>Seed categories/subcategories<br>Work with docker<br><i>7 lab report</i></p>
            </div>
        </div>
    </div>
</div>

<style>
    .rounded-xl {
        border-radius: 20px;
    }
    .shadow-md {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
</style>
{% endblock %}